@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-logo : "Mulish", sans-serif;
    --font-nav : "Manrope", sans-serif;
    --font-italic : "Italianno", cursive;
    --font-commercial : "Commercial Script BT", cursive;
    --font-cent : "CentSchbkCyrill BT", cursive;
    --font-sans: 'Open Sans', sans-serif;
}

@font-face {
  font-family: "Commercial Script BT";
  src: url("/fonts/CommercialScriptBT Regular.ttf");
}
@font-face {
  font-family: "CentSchbkCyrill BT";
  src: url("/fonts/CentSchbkCyrill BT Roman.ttf");  
}